{% extends 'layout.html' %}

{% block head_ext %}
    <title>Home</title>
{% endblock head_ext %}

{% block content %}

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

            {%if recipes%}
            {%for key, recipe in recipes%}
            <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="{{ recipe.photo_url }}" width="100%" height="225">

                  <div class="card-body">
                    <p class="card-text"> {{recipe.meal_name}} </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <form action="/recipes/{{ recipe.user_id }}/recipe/{{key}}" method="POST">
                          <button type="submit" name="button" value="view" class="btn btn-sm btn-outline-secondary">View</button>
                          {%if user == recipe.user_id %}
                          {%if user%}<button type="submit" name="button" value={{key}} class="btn btn-sm btn-outline-secondary">Edit</button>{%endif%}
                          {%endif%}
                      </form>
                      </div>
                      <small class="text-muted">{{recipe.recipe_name}}</small>
                    </div>
                  </div>
                </div>
            </div>
            {%endfor%}
            {%endif%}

        </div>
        </div>
      </div>
{% endblock %}

