{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="my-body">
    <div class="form-signin">
        <form method="POST" action="/login">

            <i class='fa fa-pizza-slice fa-5x link-light'></i><br/>

        <h1 class="h3 mt-3 mb-3 fw-normal link-light">Please sign in</h1>
    
        <div class="form-floating text-white">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}

        </div>
        <div class="form-floating text-white">
            {{ wtf.form_field(form.password) }}
        </div>
    
        <div class="checkbox mb-3 text-white">
            {{ wtf.form_field(form.remember) }}
        </div>

        <div class="checkbox mb-3 text-white">
          <p>Daha önce hesap oluşturmadınız mı? Lütfen <a href="login.html">buradan </a>kayıt olun.
          </p>
        </div>

        <button class="w-50 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </div>

</div>

{% endblock %}