{% extends 'layout.html' %}

{% block head_ext %}
    <title>Menu</title>
{% endblock head_ext %}

{% block content %}

        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-center">
                    <img src="{{ meals[0][1].photo_url }}" class="w-25" height="325">
                    <div class="float-end" style="width:70%">
                        <h1 class="display-3">{{ menu[1].title }}</h1>
                        <h3 class="display-6">Description</h3>
                        
                        <div class="mt-5">
                            <p>{{ menu[1].description }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <h1 class="display-3">Meals</h1>
                        </div>
                        <div class="row mt-3">
                        {%if meals%}
                        {%for key, meal in meals%}
                        <div class="card col-sm-3">
                            <div class="card-body">
                              <h5 class="card-title">{{ meal.name }}</h5>
                              <p class="card-text"><b>Category</b><span style="margin-left:5px;" class="convert2input">{{ meal.category_name }}</span> </p>
                              {%if user==owner%}
                              <button type="button" class="btn btn-outline-secondary" id={{}}>Edit</button>
                              <button type="button" class="btn btn-outline-danger">Delete</button>
                              {%endif%}
                            </div>
                        </div>
                        {%endfor%}
                        {%endif%}
                        </div>
                    </div>


                </div>            
            </div>
        </div>
        <script>
            $(".convert2input").click(function() {
                var input = $("<input>", { val: $(this).prev().text(),
                                           type: "text",
                                           name: $(this).attr("id")});
                $(this).prev().replaceWith(input);
                $(this).prev().addClass("d-inline card-text mb-2");
    
                //$(this).prev().attr("name", $(this).attr("id"));
    
                $(this).remove();
    
                $("#submit-form").removeClass("invisible");
                    
                input.select();
            });
    
            //for the dropdown countries menu
            $(".dropdown-countries").click(function() {
                $(this).prev().replaceWith('<select class="form-select" name="country_id" aria-label="Default select example"><option selected>Select a country from the dropdown</option>{%if countries%}{%for key, country in countries%}<option value="{{key}}">{{country.name}}</option>{%endfor%}{%endif%}</select>');
                $(this).remove();
                $("#submit-form").removeClass("invisible");
            });
            </script>
{% endblock %}

