{% extends 'layout.html' %}

{% block head_ext %}
    <title>Recipe</title>
{% endblock head_ext %}

{% block content %}

        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-center">
                    <div class="overflow-hidden">
                        <img src="{{ recipe[1].photo_url }}" class="w-25" height="325">
                        <div class="float-end" style="width:70%">
                            <form method="POST" class="signin-form">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h1 class="display-3">{{ recipe[1].recipe_name }}
                                    {%if user==owner%}
                                        <button type="button" id="recipe_name" class="btn btn-secondary convert2inputRecipe">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 17 17">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                            </svg>
                                        </button>
                                    {% endif %}
                                    </h1>
                                    <h3 class="display-6 mt-2">A <span id="meal_name">{{ recipe[1].meal_name }}</span> recipe
                                    {%if user==owner%}
                                        <button type="button" id="meal_name" class="btn btn-secondary convert2inputRecipeSel">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 17 17">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                            </svg>
                                        </button>
                                    {% endif %}
                                    </h3>
                                    <div class="mt-5">
                                        <p>
                                            {{ recipe[1].instruction }}
                                            {%if user==owner%}
                                            <button type="button" id="instruction" class="btn btn-secondary convert2inputRecipeTextbox">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 17 17">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                                </svg>
                                            </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div>
                                        Portion : 
                                        <p> {{ recipe[1].portion }}
                                            {%if user==owner%}
                                            <button type="button" id="portion" class="btn btn-secondary convert2inputRecipe">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 17 17">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                                </svg>
                                            </button>
                                            {% endif %}
                                        </p>
                                        
                                        Alternative drink :
                                        <p>{{ recipe[1].drink_alternate }}
                                            {%if user==owner%}
                                            <button type="button" id="drink_alternate" class="btn btn-secondary convert2inputRecipe">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 17 17">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                                </svg>
                                            </button>
                                            {% endif %}
                                        </p>
                                        <p>Category is {{ meal.category_name }}</p>
                                        <a href="{{recipe[1].video_url}}">Video url</a>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <a href="/user/{{owner}}" style="display:block; background-color: #DEE1E6; width: 140px; height:140px; border-radius: 50%;"><img style="padding:25px;" src="/static/img/profile.png" width="140" height="auto"></a>
                                </div>
                            </div>
                            
                            
                            
                            <div class="row row-cols-1 row-cols-sm-4 d-flex justify-content-left" >
                        
                                <div class="form-group me-2 mt-2">
                                    <button type="submit" name="button" id="submit-form" value="submit-change" class="form-control btn btn-primary submit px-3 invisible">
                                        Save Changes
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <h1 class="display-3">Ingredients</h1>
                        </div>
                        
                            <div class="row mt-3">
                            {%if ingredients%}
                            {%for key, ingredient in ingredients%}
                            
                                <div class="card col-sm-3">
                                    <form action="/recipe/{{recipe[0]}}" method="POST">
                                        <div class="card-body">
                                            <div>
                                                <h5 class="card-title">{{ ingredient.name }}</h5>
                                                <p class="card-text">{{ ingredient.measurement_quantity }}</p>
                                                <small class="text-muted">Protein {{ ingredient.protein }}, Calorie {{ ingredient.calorie }}</small>
                                                <small class="text-muted">Fat {{ ingredient.fat }}, Type {{ ingredient.ingType }}</small>
                                            </div>
                                            {%if user==owner%}
                                            <div class="w-100">
                                                <input type="text" class="form-text" name="ing_of_meals_id" value="{{key}}" style="display:none">
                                                <button type="button" class="btn btn-outline-secondary dropdown-ingredient">Edit</button>
                                                <button type="submit" style="display:none;" name="button" class="btn btn-outline-primary update-btn" id="{{key}}" value="updateIng">Update</button>
                                                <button type="submit" name="button" class="btn btn-outline-danger" value="deleteIng" id="{{key}}">Delete</button>
                                            </div>
                                            {% endif %}
                                            </form>
                                        </div>
                                </div>
                           
                            {%endfor%}
                            {%endif%}
                            </div>
                            {%if user==owner%}
                            <div class="row row-cols-1 row-cols-sm-4 d-flex justify-content-center">
                                <form method="POST" class="signin-form" action="/recipe/{{recipe[0]}}/addIng">
                                    <div class="form-group me-2 mt-2">
                                    <button type="submit" name="button" value="addIngredient" class="form-control btn btn-dark submit px-3">
                                        Add ingredient
                                    </button>
                                    </div>
                                </form>
                            </div>
                            {%endif%}
                        <div class="text-center mt-3">
                            <h1 class="display-3">Comments</h1>
                        </div>

                        {%if comments%}
                        {%for key, comment in comments%}
                        <form method="POST" action="/recipe/{{comment.recipe_id}}">
                            <div class="card mb-3">
                                <div class="card-body">
                                <h5 class="card-title">{{ comment.user_name }}</h5>
                                <p class="card-text" style="color:{{ comment.text_color }};">{{ comment.message }}</p>
                                {%if user==comment.user_id%}<button type="button" class="btn btn-primary convert2textbox" id="{{key}}">Edit Comment</button>{%endif%}
                                {%if user==comment.user_id%}<button type="submit" class="btn btn-danger" name="button" value="delete-comment">Delete Comment</button>{%endif%}
                                {%if user==comment.user_id%}<input type="text" class="invisible form-text" name="id2delete" value="{{key}}">{%endif%}
                                <input value="{{key}}" type="text" class="invisible form-text" name="comment_id">
                                <div class="mt-1 language-div"><small class="text-muted"> Created {{ comment.created_date }}. Language is <span id="language-span">{{ comment.language }}</span></small></div>
                                {%if comment.updated_date%}<div class="mt-1"><small class="text-muted"> Updated {{ comment.updated_date }}</small></div>{%endif%}
                                </div>
                            </div>
                        </form>
                        {%endfor%}
                        {%endif%}

                        {%if not comments%}
                        <div class="card mb-5">
                            <div class="card-body">
                              <h5 class="card-title">There are no comments yet. You can be the first one to comment!</h5>
                            </div>
                        </div>
                        {%endif%}

                        <form action="/recipe/{{recipe[0]}}" method="POST">
                            <div class="mb-3 mt-3">
                              <label for="comment" class="form-label">Make a Comment</label>
                              <textarea class="form-control" rows="7" cols="175" placeholder="You can comment here" id="comment" name="message"></textarea>
                              <div id="emailHelp" class="form-text">You have a limit of 200 characters.</div>
                            </div>

                            <label class="form-label">You can pick a text color for your comment! (please do not choose light colors)</label>
                            <input type="color" class="form-control form-control-color mb-3" id="exampleColorInput" name="color" value="#563d7c" title="Choose your color">
                            
                            <label class="form-label">Please enter the language of the comment</label>
                            <div class="w-100">
                                <input type="text" class="form-text" name="language" placeholder="Language">
                            </div>
                            

                            <button type="submit" class="btn btn-dark mt-2" name="button" value="comment">Submit</button>
                        </form>
                    </div>


                </div>            
            </div>
        </div>
        <script>
            $(".dropdown-ingredient").click(function() {
                $(this).parent().prev().replaceWith('<select class="form-select" name="ingredient_id" aria-label="Default select example"><option selected>Select ingredient</option>{%if allingredients%}{%for key, ingredient in allingredients%}<option value="{{key}}">{{ingredient.name}}</option>{%endfor%}{%endif%}</select>');
                $(this).parent().before('<label for="quantity" style="margin-right:10px; margin-top:6px; margin-bottom:6px !important;" class="form-label">Quantity: </label><input class="form-select" style="margin-bottom:5px;" type="text" name="quantity">');

                $(this).next().css("display","");
                $(this).remove();
            });
            
            $(".convert2inputRecipe").click(function() {
                var input = $("<input>", { val: $(this).parent().text().trim(),
                                        type: "text",
                                        name: $(this).attr("id")});

                $(input).css("display", "block");
                $(input).addClass("mt-2 form-text")
                $(this).parent().replaceWith(input);

                $("#submit-form").removeClass("invisible");
               
            });

            $(".convert2inputRecipeSel").click(function() {
                var value = $(this).parent().children().text();
  
                $(this).parent().replaceWith('<select class="form-select mb-2 mt-3" name="meal_id" aria-label="Default select example">{%if allMeals %}{%for key, meal in allMeals %}{%if meal.name == "'+value+'"%}<option selected value="{{key}}">{{meal.name}}</option>{% else %}<option value="{{key}}">{{meal.name}}</option>{% endif %}{%endfor%}{%endif%}</select>');

                $("#submit-form").removeClass("invisible");
               
            });

            
            $(".convert2textbox").click(function() {
                var input = $("<textarea>", { val: $(this).prev().text(),
                                        type: "text",
                                        placeholder: "Comment",
                                        name: "message"});
                $(this).prev().replaceWith(input);
                $(this).after('<button type="submit" class="btn btn-dark" name="button" value="updateComment">Submit</button>');

                $(this).after('<input type="color" class="form-control form-control-color mb-3" id="exampleColorInput" name="color" value="#563d7c" title="Choose your color">');

                var value = $(this).parent().children(".language-div").children().children().text();
                $(this).after("<div class='w-100 mt-1'><input type='text' class='form-text' value='"+value+"' name='language' placeholder='Language'></div>");

                var input2 = $("<input>", {value: $(this).attr("id"), type: "text", class: "invisible", name: "comment_id"});
                $(this).after(input2);

                $(this).remove();

                input.select();
            });

            $(".convert2inputRecipeTextbox").click(function() {
                var input = $("<textarea>", { val: $(this).parent().text().trim(),
                                        type: "text",
                                        rows: "7",
                                        cols: "100",
                                        name: $(this).attr("id")});

                $(input).css("display", "block");
                $(input).addClass("mt-2")

                $(this).parent().replaceWith(input);

                $("#submit-form").removeClass("invisible");
               
            });
        </script>
{% endblock %}

