{% extends 'layout.html' %}

{% block head_ext %}
    <title>Recipe</title>
{% endblock head_ext %}

{% block content %}

        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-center">
                    <img src="{{ recipe[1].photo_url }}" class="w-25" height="325">
                    <div class="float-end" style="width:70%">
                        <h1 class="display-3">{{ recipe[1].recipe_name }}</h1>
                        <h3 class="display-6">A {{ recipe[1].meal_name }} recipe</h3>
                        
                        <div class="mt-5">
                            <p>{{ recipe[1].instruction }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <h1 class="display-3">Ingredients</h1>
                        </div>
                        <div class="row mt-3">
                        {%if ingredients%}
                        {%for key, ingredient in ingredients%}
                        <div class="card col-sm-3">
                            <div class="card-body">
                              <h5 class="card-title">{{ ingredient.name }}</h5>
                              <p class="card-text">{{ ingredient.measurement_quantity }}</p>
                              {%if user==owner%}<a href="#" class="btn btn-primary">Edit</a>{%endif%}
                            </div>
                        </div>
                        {%endfor%}
                        {%endif%}
                        </div>
                    </div>


                </div>            
            </div>
        </div>
{% endblock %}

