{% extends 'layout.html' %}

{% block head_ext %}
    <title>User</title>
{% endblock head_ext %}

{% block content %}

        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-start">
                    <div class="mt-1" style="width:100%">
                        <h1 class="display-3">Profile Page</h1>
                    </div>

                    <div>
                        <div class="text-center">
                            <h1 class="display-3">{%if isOwner%}Your{% endif %} Creations</h1>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                      <h5 class="card-title"> {%if isOwner%}Your{% endif %} Menus</h5>
                                      <a href="/menus/{{ owner.id }}" class="btn btn-primary">Menus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                      <h5 class="card-title">{%if isOwner%}Your{% endif %} Recipes</h5>
                                      <a href="/user/{{ owner.id }}/recipes" class="btn btn-primary">Recipes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%if isOwner%}
                        <div class="text-center">
                            <h1 class="display-3">Settings</h1>
                        </div>
                        {% endif %}
                        <div>
                            <form action="/user/{{owner.id}}" method="POST">
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Name</h5>
                                    <p class="card-text">{{ owner.name }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="name">Change name</button>{% endif %}
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Surname</h5>
                                    <p class="card-text">{{ owner.surname }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="surname">Change surname</button>{% endif %}
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Password</h5>
                                    <p class="card-text">************</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2inputPass" id="password">Change password</button>{% endif %}
                                    <label class="form-label" style="display: block; margin:0 auto !important; color:red ">
                                        {%if error == 1 %}
                                            Current Password is incorrect
                                        {% endif %}
                                        {%if error == 2 %}
                                            New Passwords are not matching
                                        {% endif %}
                                    </label>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Age</h5>
                                    <p class="card-text">{{ owner.age }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="age">Change age</button>{% endif %}
                                    
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Country</h5>
                                    <p class="card-text">{{ owner.country }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary dropdown-countries" id="country">Change country</button>{% endif %}
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-4 d-flex justify-content-start">
                                    <div class="form-group mt-2">
                                        {%if isOwner%}<button class="btn btn-primary invisible" id="submit-form" name="button" value="change-user">Submit changes</button>{% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                   

                </div>           
            </div>
        </div>
        <script>
        $(".convert2input").click(function() {
            var input = $("<input>", { val: $(this).prev().text(),
                                       type: "text",
                                       name: $(this).attr("id")});
            $(this).prev().replaceWith(input);
            $(this).prev().addClass("d-inline card-text mb-2");

            //$(this).prev().attr("name", $(this).attr("id"));

            $(this).remove();

            $("#submit-form").removeClass("invisible");
                
            input.select();
        });

        $(".convert2inputPass").click(function() {
            var input = $("<input>", { type: "password",
                                       placeholder: "New Password",
                                       name: "pwd_re",
                                    });

            var input2 = $("<input>", { type: "password",
                                       placeholder: "New Password again",
                                       name: $(this).attr("id")});
           
            var currentPass = $("<input>", { type: "password",
                                       placeholder: "Current Password",
                                       name: "pass-current"});

            

            $(input).addClass("card-text mb-2 mx-auto");
            $(input2).addClass("card-text mb-2 mx-auto");
            $(currentPass).addClass("card-text mb-2 mx-auto");

            $(input).css("display", "block");
            $(input2).css("display", "block");
            $(currentPass).css("display", "block");

            $(this).prev().replaceWith(input2);
            $(this).prev().before(currentPass);
            $(this).prev().before(input);
            $(this).remove();

            // NOT USED
            /*$('#password, #confirm_password').on('keyup', function () {
                if ($('#password').val() == $('#confirm_password').val()) {
                    $('#message').html('Matching').css('color', 'green');
                } else 
                    $('#message').html('Not Matching').css('color', 'red');
                });*/
                                    
            $("#submit-form").removeClass("invisible");
        });

        //for the dropdown countries menu
        $(".dropdown-countries").click(function() {
            $(this).prev().replaceWith('<select class="form-select" name="country_id" aria-label="Default select example"><option selected>Select a country from the dropdown</option>{%if countries%}{%for key, country in countries%}<option value="{{key}}">{{country.name}}</option>{%endfor%}{%endif%}</select>');
            $(this).remove();
            $("#submit-form").removeClass("invisible");
        });
        </script>
{% endblock %}

