{% extends 'layout.html' %}

{% block head_ext %}
    <title>User</title>
{% endblock head_ext %}

{% block content %}

        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-start">
                    <div class="mt-1" style="width:100%">
                        <h1 class="display-3">Profile Page</h1>
                    </div>

                    <div>
                        <div class="text-center">
                            <h1 class="display-3">{%if isOwner%}Your{% endif %} Creations</h1>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                      <h5 class="card-title"> {%if isOwner%}Your{% endif %} Menus</h5>
                                      <a href="/menus/{{ owner.id }}" class="btn btn-primary">Menus</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                      <h5 class="card-title">{%if isOwner%}Your{% endif %} Recipes</h5>
                                      <a href="/user/{{ owner.id }}/recipes" class="btn btn-primary">Recipes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%if isOwner%}
                        <div class="text-center">
                            <h1 class="display-3">Settings</h1>
                        </div>
                        {% endif %}
                        <div>
                            <form action="/user/{{owner.id}}" method="POST">
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Name</h5>
                                    <p class="card-text">{{ owner.name }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="name">Change name</button>{% endif %}
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Surname</h5>
                                    <p class="card-text">{{ owner.surname }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="surname">Change surname</button>{% endif %}
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Age</h5>
                                    <p class="card-text">{{ owner.age }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary convert2input" id="age">Change age</button>{% endif %}
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                    <h5 class="card-title">Country</h5>
                                    <p class="card-text">{{ owner.country }}</p>
                                    {%if isOwner%}<button type="button" class="btn btn-outline-secondary dropdown-countries" id="country">Change country</button>{% endif %}
                                    </div>
                                </div>

                                {%if isOwner%}<button class="btn btn-primary invisible mt-2" id="submit-form" name="button" value="change-user">Submit changes</button>{% endif %}
                            </form>
                        </div>
                   

                </div>           
            </div>
        </div>
        <script>
        $(".convert2input").click(function() {
            var input = $("<input>", { val: $(this).prev().text(),
                                       type: "text",
                                       name: $(this).attr("id")});
            $(this).prev().replaceWith(input);
            $(this).prev().addClass("d-inline card-text mb-2");

            //$(this).prev().attr("name", $(this).attr("id"));

            $(this).remove();

            $("#submit-form").removeClass("invisible");
                
            input.select();
        });

        //for the dropdown countries menu
        $(".dropdown-countries").click(function() {
            $(this).prev().replaceWith('<select class="form-select" name="country_id" aria-label="Default select example"><option selected>Select a country from the dropdown</option>{%if countries%}{%for key, country in countries%}<option value="{{key}}">{{country.name}}</option>{%endfor%}{%endif%}</select>');
            $(this).remove();
            $("#submit-form").removeClass("invisible");
        });
        </script>
{% endblock %}

