body{
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    box-sizing: border-box;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    box-sizing: border-box;
}

.col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.text-wrap {
    background: linear-gradient(
135deg, #f75959 0%, #f35587 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
    color: #fff;
    width: 50%;
}
.text-center {
    text-align: center !important;
}

.text-wrap {
    white-space: normal !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-lg-5 {
    padding: 3rem !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
}

.login-wrap {
    position: relative;
    background: #fff;
}

.w-100 {
    width: 100% !important;
}

.h3 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #000;
}

.login-wrap h3 {
    font-weight: 300;
    
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}


.form-group-2{
    position: relative;
}

.form-group-2 .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}
.form-control-2{
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control-2 label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control-2 button, input {
    overflow: visible;
}
.form-control-2 input{
    margin: 0;
    font-family: inherit;
}

.form-control-2::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control-2::placeholder {
    color: #6c757d;
    opacity: 1;
}

